/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

/* ------------------------------------ */

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */

#thetable {
    display: none;
}
#bigtable {
    display: table;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

/* ------------------------------------ */

/* ------------------------------------ */

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}
.this_small {
    display: none;
}
.scroll-to-top {
    display: block;
}
@media screen and (max-width: 768px) {
    .scroll-to-top {
        display: none;
    }
    #thetable {
        display: block;
    }
    #bigtable_wrapper,
    #dataTable1_wrapper,
    #dataTable2_wrapper,
    #dataTable3_wrapper,
    #dataTable4_wrapper,
    #dataTable5_wrapper,
    #dataTable1,
    #dataTable2,
    #dataTable3,
    #dataTable4,
    #dataTable5 {
        display: none;
    }
    #accordionSidebar {
        display: none;
    }
    .this_small {
        display: block;
    }
    .table {
        display: block;
    }
}

.row.header {
    color: #ffffff;
    background: #6c7ae0;
}

@media screen and (max-width: 768px) {
    .row.header {
        padding: 0;
        height: 0px;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell:before {
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}

.cell {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.row .cell {
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 137px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 137px;
}

.row .cell:nth-child(3) {
    width: 137px;
}

.row .cell:nth-child(4) {
    width: 137px;
}
.row .cell:nth-child(5) {
    width: 137px;
}
.row .cell:nth-child(6) {
    width: 137px;
}
.row .cell:nth-child(7) {
    width: 137px;
}

.table,
.row {
    width: 100% !important;
}

@media (max-width: 768px) {
    .row {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }

    .row .cell {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .row .cell:nth-child(1) {
        padding-left: 30px;
    }

    .row .cell {
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }

    .table,
    .row,
    .cell {
        width: 100% !important;
    }
}
